.barra:hover {color: rgb(212, 190, 60);
              text-decoration: unset;}
#bar1 {display: inline;
        position: fixed;
        top: 100px;
        left: 1200px;}
#bar2 {display: inline;
        position: fixed;
        top: 100px;
        left: 1000px;}
#bar3 {display: inline;
    position: fixed;
    top: 100px;
    left: 800px;}
#titulo {text-align: center;}
