#barra1 {display: inline;
        position: fixed;
        top: 100px;
        left: 900px;}
#barra2{display: inline;
        position: fixed;
        top: 100px;
        left: 600px;}
#titulo {text-align: center;}
