.barra #bar1 {display: inline;
        position: fixed;
        top: 100px;
        left: 1200px;}
.barra #bar2 {display: inline;
        position: fixed;
        top: 100px;
        left: 1000px;}
.barra #bar3 {display: inline;
    position: fixed;
    top: 100px;
    left: 800px;}
#titulo {text-align: center;}
